body { 
    background-color: rgb(175, 1, 1);
}
.card-img {
    background-position: center center;
    opacity: 0.6;
    height: 200%; 
}
.card-text { 
    color: white; 
    font-size: 16px; 
}
h5 { 
    text-align: center; 
}
.scroll { 
    max-height: 200%; 
    overflow-y: auto; 
}
h1 { 
    font-family: 'Limelight', sans-serif;
    color: white; 
}
p { 
    font-family: 'Thasadith', sans-serif;
    color: white; 
}
footer { 
    width: 100%;
}