.card-img {
    background-position: center center;
    opacity: 0.6;
    height: 200px; 
}
.card-text { 
    color: white; 
}
h5 { 
    text-align: center; 
}
.scroll { 
    max-height: 200px; 
    overflow-y: auto; 
}